// 文章
.nj-article-show {
  margin: 0 20px;
  > .nj-avatar {
    text-align: center;
    padding-top: 20px;
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  > .nj-tit {
    font-size: 1.2em;
    margin-top: 5px;
  }
  > .nj-author {
    font-size: 0.8em;
    font-weight: normal;
    color: #888888;
  }
  > .nj-images {
    margin-top: 20px;
    img {
      margin-left: 5px;
    }
    img:nth-child(1),
    img:nth-child(4),
    img:nth-child(7) {
      margin-left: 0px;
    }
  }
  > .nj-video {
    margin: 20px 0 0 0;
    height: 250px;
    width: 100%;
  }
  > .nj-content {
    margin-top: 20px;
    line-height: 2em;
    .oss-image {
      width: 100%;
    }
    .oss-video {
      width: 100%;
      max-height: 240px;
      background-color: #000000;
    }
  }
  > .nj-postAddr {
    padding-top: 20px;
    .nj-place {
      font-size: 20px;
    }
  }
}
